<div class="well">
  Pendings:
  <ul>
    <li>Add proper errors for network conectivity. </li>
    <li>Test</li>
    <li>To load the states on a promise after it is loaded.</li>
    <li>add date and time input (Begin and End Date)</li>
    <li>Add group level validator that makes sure past 3 years is completely covered. Validator should add a period textarea so the justification is entered.</li>
    <li>generate in memory database</li>
    <li>Test again - review testing concepts from meeting</li>
    <li>execute crud operations on this page</li>
    
  </ul>
</div>
<div *ngIf="dataRoot">
    <form (ngSubmit)="onSubmit()" class="form-horizontal" [formGroup]="dataRoot">
      <div class="well">
        <!-- dynamic structure begins -->
        <div class="panel panel-info" *ngFor="let visualSection of visualSections">
            <div class= "panel-heading"><h3  style="margin:0px;">{{visualSection.title}}</h3></div> 
            <div class= "panel-body" [attr.formGroupName]="visualSection.key">
              <!-- the above formGroup Name attribute is expected to be null at the root -->
              <!-- the above formGroup attribute must beginwith attr in order to conditionate its presence -->
                <p style="font-weight:700" *ngIf="visualSection.intro" >{{visualSection.intro}}</p>
                <div *ngIf ="!visualSection.repeating" class="well">
                  <app-question *ngFor="let questionOrGroup of visualSection.members[0]" 
                    [question]="questionOrGroup" 
                    [form]="visualSection.key?dataRoot.get(visualSection.key):dataRoot">
                  </app-question>
                </div>
                <div *ngIf ="visualSection.repeating"  formArrayName="{{visualSection.key}}">
                  <div class="well" *ngFor="let formArrayRow of visualSection.members; let i = index;" formGroupName="{{i}}">
                      <h4>{{visualSection.key+' #'+(i+1)}}</h4>
                      <app-question *ngFor="let questionOrGroup of formArrayRow" 
                      [question]="questionOrGroup"
                      [form]="dataRoot.get(visualSection.key).controls[i]" [idSuffix]="i">
                      </app-question>
                      <div *ngIf="i==(visualSection.members.length-1)" style="text-align:right;">
                          <span *ngIf="i!=0">
                            <button class="btn btn-default"  type="button" (click)="removeLastRepeatingGroup(dataRoot.get(visualSection.key), visualSection)" >Remove this {{visualSection.key}}</button>
                          </span>
                          <button  class="btn btn-default" type="button" (click)="addRepeatingGroup(dataRoot.get(visualSection.key), visualSection)" >Add another {{visualSection.key}}</button></div>
                  </div>
                </div>
            </div>  
        </div>
        <!-- dynamic structure ends -->   
        <div class="form-group">
          <button type="submit" class="btn btn-default" [disabled]="!dataRoot.valid">Save</button>
        </div>
      </div>
    </form>
    <div *ngIf="payLoad">
        <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div>