<h3 class="leftMargin">{{prop?.name}}</h3>
<h5  class="leftMargin">{{prop?.address}}</h5>
<div class="row well topBar">
  <h5 class="col-md-3 col-xs-12" *ngIf="prop?.status=='available'">
      <strong>Available Now!!! - Apply here</strong>
  </h5>
  <h5 class="col-md-3 col-xs-12" *ngIf="prop?.bedrooms">
    <strong>{{prop.bedrooms}}</strong> bedrooms
  </h5>
  <h5 class="col-md-3 col-xs-12" *ngIf="prop?.surfaceArea">
    <strong>{{prop.surfaceArea}}</strong> m2
  </h5>
  <h5 class="col-md-3 col-xs-12" *ngIf="prop?.parkingSpaces">
    <strong>{{prop.parkingSpaces}}</strong> parking spaces
  </h5>
</div>
<div  class="row zeroMargin" *ngIf="prop?.images?.length">
  <!-- this DIV contains the carrousel-->
  <div class="col-md-9 col-xs-12 outerContainer">
    <!-- Container for the image gallery -->
      <div class="containerW3Schools carrousel">
      <!-- Full-width images with number text -->
      <div class="mySlides" style="">
        <div class="numbertext">{{slideIndex+1}} / {{prop.images.length}}</div>
        <a [href] = "getImageUrl(prop.images[slideIndex].imagePath)" >
          <img [src]="getImageUrl(prop.images[slideIndex].imagePath)" style="max-width:100%;max-height:70vh;vertical-align: middle;">
        </a>
      </div>
      <!-- Next and previous buttons -->
      <a class="prev" (click)="showSlides(slideIndex-1)">&#10094;</a>
      <a class="next" (click)="showSlides(slideIndex+1)">&#10095;</a>
    
      <!-- Image text -->
      <div class="caption-container">
        <p id="caption">{{prop.images[slideIndex].title}}
          {{prop.images[slideIndex].description?(' - '+prop.images[slideIndex].description):''}} </p>
      </div>
      <!-- Thumbnail images -->
      <div class="rowW3">
        <div *ngFor="let img of prop.images; let i = index" class="column">
            <img class="thumb cursor" [ngClass]="{'active':i==slideIndex}" [src]="getImageUrl(img.imagePath)"  (click)="showSlides(i)" alt="img.title">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12" style="background-color:pink">
    <h2>Here goes the contact me now section.</h2>
  </div>
</div>

<p>
  property works!
  {{prop|json}}
</p>
