.topBar{
    margin: 10px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left:15px;
}

.outerContainer{
    padding:0px;
}

.zeroMargin{
    margin:0px;
}

.leftMargin{
    margin-left:15px;
}

@media(max-width:991px){
    .topBar h5{
        margin-top:3px;
        margin-bottom:3px;
        padding-left:0px
    }
}

.carrousel{

    * {
        box-sizing: border-box;
      }
      

    .containerW3Schools {
    position: relative;
    }

    /* Hide the images by default */
    .mySlides {
        display:block;
        background-color:black;
        text-align:center;
        height:70vh;
        line-height:70vh;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
    cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    }

    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    line-height:20px;
    }

    /* Container for image text */
    .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    }

    .rowW3{
        height: 20vh;
        line-height: 20vh;
        background-color:black;
    }

    .rowW3:after {
    content: "";
    display: table;
    clear: both;
    
    }

    /* Six columns side by side */
    .column {
    float: left;
    width: 16.66%;
    vertical-align: middle;
    text-align: center;
    border-left: 1px white solid;
    border-right: 1px white solid;
    }

    /* Add a transparency effect for thumnbail images */
    .thumb {
    opacity: 0.6;
    max-height:20vh;
    max-width:100%;
    }

    .active,
    .thumb:hover {
    opacity: 1;
    }
}